/* .main-product-detail {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}
.main-exchange-container {
  justify-content: center;
  align-items: center;
} */
@media screen and (min-width: 1024px) {
  .main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
  }
  .main-comision-table {
    margin-top: 0;
  }
  .product-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
  }
  .plans-container--slider {
    justify-content: center;
    overflow-x: hidden;
  }
  footer .right p {
    font-size: 1.2rem;
  }
}
